:root {
    /* ============================= Colors ====================================== */

  --bg-base: rgb(202, 75, 75);
  --bg-prymary: rgb(111, 222, 32);
  --bg-accent: rgb(19, 160, 196);



  /* =============================== Text ======================================== */

  




}